* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
header {
    height: 100px;
    background-color: #000;
}
.header {
    height: 100px;
    max-width: 1140px;
    margin: auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}


.logoimg {
    width: 80px;
    height: 80px;
    background-color: #B28756;
    line-height: 80px;
    text-align: center;
    margin-bottom: 11px;
}
.menu ul, .menu li {
    list-style: none;
}
.menu ul {
    display: flex;
}
.menu li a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    font-size: 15px;
}
.menu li {
    padding: 0px 9px 35px 9px;
    border-bottom: 5px solid #000; 
}
.menu li:hover {
    border-bottom: 5px solid #B28756;
}
.menu li a:hover {
    color: #ccc;
}
.menu .active {
    border-bottom: 5px solid #B28756;
}




.banner {
    background-color: #333;
    height: calc( 100vh - 100px);
    overflow: hidden;
}
.sliders {
    height: 100%;
    display: flex;
    transition: all ease 1s;
}
.slider--item1 {
    background-image: url(../../media/foto2.jpg);
    background-size: cover;
    background-position: bottom;
    width: 100vw;
    height: inherit;
}
.slider--item2 {
    background-image: url(../../media/foto4.jpg);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: inherit;
}
.slider--item3 {
    background-image: url(../../media/foto6.jpg);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: inherit;
}
.slider-controls {
    position: absolute;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slider--control {
    width: 50px;
    height: 50px;
    background-color: #B28756;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.span-control {
    font-weight: 600;
}

.slider-rgba {
    width: 100%;
    height: 100%;
    background-color: rgba(000, 0, 0, 0.70);
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider-contents {
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}
.slider-contents .tittle-slider {
    text-transform: uppercase;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}
.slider-contents .tittle-slider .word-color {
    color: #B28756;
}
.slider-contents .number-slider {
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 8px;
    font-size: 20px;
    margin-bottom: 45px;
}





button {
    cursor: pointer;
    background-color: #B28756;
    color: white;
    border: #B28756;
    font-weight: 600;
    padding: 15px 45px 15px 45px;
    border-radius: 30px;
}